{% extends "base.html" %}

{% block title %}Список работников{% endblock %}

{% block content %}
<div class="card">
    <h1>Список работников</h1>
    {% if users %}
        <table>
            <tr>
                <th>Имя</th>
                <!-- <th>Telegram ID</th> -->
                <th>Почта</th>
                <th></th>
                <th></th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <!-- <td>{{ user.telegramid }}</td> -->
                <td>{{ user.email }}</td>
                <td><a href="{{ url_for('edit_user', user_id=user.id) }}"><button>Редактировать</button></a></td>
                <td><button class="btn-delete" data-url="{{ url_for('delete_user', user_id=user.id) }} " data-type="user">Удалить</button></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Пока нет работников</p>
    {% endif %}
    <a href="{{ url_for('add_user') }}" class="a_add_user_button">
    <div class="add_user_button">Добавить работника</div>
    </a>
</div>
{% endblock %}
